// DOCUMENTAÇÃO DE BANNERS
// ====================================================================

//Banner Topo
$b-top-w: $page-w;
$b-top-h: auto;

//Banner Submenu
$b-submenu-w: 251px;
$b-submenu-h: 380px;

//B-Principal [Pos 1 e 2]
$b-main-pos-1-2w: 625px;
$b-main-pos-1-2h: auto;

//B-Principal
$b-principal-w: $page-w;
$b-principal-h: auto;

//B-Principal
$b-principal-1-2w: 625px;
$b-principal-1-2h: auto;

//B-Principal [ pos 3 e 4 ]
$b-principal-pos-4-5w: 620px;
$b-principal-pos-4-5h: auto;

//B-Special Store [ Pos 1 a 20 ]
$b-special-store-w: 180px;
$b-special-store-h: 75px;

//B-Betwen Vit [ Pos 1 ]
$b-between-vit-w: 625px;
$b-between-vit-h: auto;

//B-Bottom
$b-bottom-w: $page-w;
$b-bottom-h: auto;

//Categoria - B-top
$cat-b-top-w: $page-w;
$cat-b-top-h: auto;

//Categoria - B-Principal
$cat-b-principal-w: 1045px;
$cat-b-principal-h: auto;

//Categoria - B-Lateral-Esquerda
$cat-b-aside-w: 205px;
$cat-b-aside-h: auto;

//Categoria - B-Bottom
$cat-b-bottom-w: $page-w;
$cat-b-bottom-h: auto;

//Fechamento - B-Main
$fechamento-box-left-w: 950px;
$fechamento-box-left-h: auto;