// DOCUMENTAÇÃO DE IMAGENS
// ====================================================================

// Vitrine
$ft-vitrine-w: 285px;
$ft-vitrine-h: 285px;

// Vitrine - Vira
$ft-vitrine-vira-w: 285px;
$ft-vitrine-vira-h: 285px;

// Detalhes
$ft-detalhes-w: 400px;
$ft-detalhes-h: 400px;

// Ampliada
$ft-ampliada-w: 1100px;
$ft-ampliada-h: 1100px;

// Thumb
$ft-thumb-w: 220px;
$ft-thumb-h: 220px;

// look - vitrine
$look-vitrine-w: 285px;
$look-vitrine-h: 356px;

// look - detalhes
$look-detalhes-w: 400px;
$look-detalhes-h: 500px;

// Look - Ampliada
$look-ampliada-w: 1100px;
$look-ampliada-h: 1375px;

// Look - Thumb
$look-thumb-w: 285px;
$look-thumb-h: 356px;

// DOCUMENTAÇÃO DE SKU
// ====================================================================

// Cor
$sku-cor-w: 60px;
$sku-cor-h: 60px;

// Tamanho
$sku-tamanho-w: 40px;
$sku-tamanho-h: 40px;

// Miniatura
$sku-miniatura-w: 50px;
$sku-miniatura-h: 50px;