// DEFAULT FONT
// ====================================================================


$font-one: 'Source Sans Pro', sans-serif; 
// weight 
/* 200 extra-light
   300 light  
   400 regular
   600 semi-bold 
   700 bold
   900 black
*/

$font-two: 'Open Sans', sans-serif;
// weight 
/*  300 light
    400 regular
    600 semi-bold
    700 bold
    800 extra-bold
*/

$font-icons: 'FontAwesome';
/* icones
 
*/