// HEADER - BASE - COMPONENTS
// ====================================================================
%mobile-hreader__containers {
    #header{
       
        top:0;
        left:0;

        &.active{
            min-height:110px;
        }
        border-bottom: 1px solid #ddd;
    }

    #header,
    #floatToolbar {
        background: $color-white;
        .foneFT {
            display: none;
        }
        .headerPhone {
            display: none;
        }
        .box-top{
            display: none;
        }      
    }
}

%mobile-header__logo {
    #header .container #logo,
    #floatToolbar .logoFT {
        padding: 0 !important;
        a {
            padding-top: 0px !important;
            text-align: left;
            padding-left: 53px;
        
            img{
                max-height: 42px;
                margin-top: 20px;
                margin-right: 10px;
                max-width:140px;
            }
        }
    }
}

%mobile-header__icons {
    #header {
        .container .btn-nav-mobile .nav-click,
        #floatToolbar .btn-nav-mobile .nav-click {
            background: none;
            position: relative;
            top: 9px;
            left: 11px;
            width: auto;
            height: auto;
            font-size: 0px;
            text-indent: 0;
            &:before {
                @include set-icon($icon-reorder, 30px, 300, $color-blue-light);
            }
        }
        .container .header-btn-mobile .btn-search-top,
        #floatToolbar .header-btn-mobile-float .btn-search-top {
            @include imgbt(bt-home-header-busca, png, 40, 28);
            background-size:none;
            font-size: 0px;
            text-indent: 0;
            position: relative;
            top: 19px;
            left: 0;
            right: auto;
        }
        .container .header-btn-mobile .btn-cart-mobile,
        #floatToolbar .header-btn-mobile-float .btn-cart-mobile {
            @include imgbt(ico-header-car, png, 50, 28);
            background-size: 27px 25px;
            position: relative;
            top: 15px;
            right: 5px;
            .qtd-cart {
                display: inline-block;
        
                color: #fff;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                float: left;
                font-size: 12px;
                padding: 1px 3px;
                margin: 5px 0 0 30px;
                width: 15px;
                height: 20px;
                color: #000;
                text-indent: 0;
                background:transparent;
             
            }
            .qtd-cart.active {
                @include border-radius(50px);
                font-family: $font-one;
                display: block;
                height: 8px;
                line-height: 7px;
                padding: 7px;
                text-align: center;
                width: 8px;
                color: #000;
                font-weight: bold;
                font-size: 11px;
                background: none;
                text-indent: 0;
                position: absolute;
                right: 8px;
                top: -10px;
            }
        }
    }
}

%mobile-header__searchInput {
    #header .container .search input[type="text"],
    #floatToolbar .search input[type="text"] {
        @extend %text-header-search-font;
        text-transform: none;
        border: 1px solid #B3B3B3;
        background: #FFF;
        margin-top: 5px;
    }
    #floatToolbar .search .btn.ir,
    #header .search .btn.ir {
        margin-top: 5px;
    }
    #floatToolbar .search input[type="text"] {
        position: relative;
        //top: 25px;
    }
    #floatToolbar .search .btn {
        margin-top: 5px;
        top: 2px;
    }
    #floatToolbar.active{
        height: 100px;
        .list{
            display: none;
        }
    }
}

%mobile-header__welcome {
    .wrap-nav-mobile .welcome {
        strong:after{
            display: none;
        }
        background: $color-bg-gray;
        li {
            width: auto;
            display: inline-block;

        }

        #identificacao{
            float:left;
            padding-right:5px;
        }

        .identificacao-2{
            > span {
                display:none;
            }
        }
    }
}

%mobile-header__welcome-deslogado {
    .wrap-nav-mobile .welcome {
    

        #identificacao{
            display:none;
        }

        .identificacao-2{
            > span {
                display:none;
            }
            span +  a{
                float: left;
                font-size: 0;
                width: 54px;
                position: relative;
                display: inline-block;
                min-height: 10px;
                &:before{
                    content:'Entre';
                    font-size:13px;
                    position: absolute;
                    top:0;
                    left:0;
                }
                &:after{
                    content:'ou';
                    font-size:13px;
                    position: absolute;
                    top:0;
                    right:5px;
                }
            }
        }
    }
}
%mobile-header__nav {
    .wrap-nav-mobile {
        width: 100%;
        background: #FFF;
        text-align:left;
    }
    .wrap-nav-mobile #nav {
        >li {
            background: $header-nav-bg;
            >a:not(.sub-parent) {
                @extend %text-header-nav-font;
                height: auto !important;
                border-bottom: none !important;
            }
            &:hover {
                background: $color-white;
                .sub-parent {
                    color: $color-black;
                }
            }
            .sub-parent {
                color: $header-nav-mobile-cross-bg;
            }
        }
    }
}

%mobile-header__subnav {
    .wrap-nav-mobile #nav .sub-nav.active {
        >li {
            background: $header-subnav-bg;
        }
        li>a:not(.sub-parent) {
            @extend %text-header-subnav-font;
        }
    }
}

%mobile-header__help {
    .wrap-nav-mobile .help {
        padding-top: 0px;
        opacity:1;
        a,
        span {
            @extend %text-header-help-font;
            color: $color-gray;
            background: none;
            margin: 0px;
            strong {
                font-size: 15px;
            }
            &:hover{
                color: #6d6e70; 
            }
        }
        &:nth-child(2){
            display: none;
        }

        > div{
            float:left;
            width:100%;
            &.left,  &.right{
              
                width:100%;
                float:left;
                a, span{
                    display: inline-block;
                    padding: 16px 0 16px 14px;
                    width: 96%;
                    border-bottom: solid 1px #999;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: #3563a2;
                    font-weight:600;
                }
                
            }
        
        }

    }
    .wrap-nav-mobile .help + .help{
        display:none;
    }
}
%mobile-autocomplete-mais-buscadas {
   div.autocomplete-mais-buscadas {
        width: calc(100% - 20px);
        border: 1px solid #ccc;
        margin: -6px 0 0;
        .count {
            
        }
         ul li a {
            .count {
                background: #6d6e70;
            }
         }
   }
   div.panel-multicomplete-results {
        background: #fff;
        box-sizing: border-box;
        width: calc(100% - 20px);
        margin: 16px 0 0;
        font-family: arial;
        border: 1px solid #ccc;
        .panel-no-results {
            padding: 0 10px 10px;
        }
        .autocomplete-details {
            width: calc(100% - 80px) !important;
            .autocomplete-name {
                font-weight: normal !important;
                font-family: $font-one;
                .highlight {
                    font-weight: bold !important;
                }
            }
            .autocomplete-price {
                text-align: left !important;
                color: #000 !important;
            }
        }
   }
}

%mobile-main{
    // #header + #main{
    //     //padding-top:42px;
    // }
    // #header.active + #main{
    //    // padding-top:82px;
    // }
}   

// HEADER - CALLS
// ====================================================================
body {
    @extend %mobile-hreader__containers;
    @extend %mobile-header__logo;
    @extend %mobile-header__icons;
    @extend %mobile-header__searchInput;
    @extend %mobile-header__welcome;
    @extend %mobile-header__nav;
    @extend %mobile-header__subnav;
    @extend %mobile-header__help;
    @extend %mobile-autocomplete-mais-buscadas;
    //@extend %mobile-main;

    &.deslogado{
        @extend %mobile-header__welcome-deslogado;
    }
}




/// instagram


%instagram-title{
	.instagram-slider{
		.title{
			
				text-shadow: none;
				padding: 0 15px;
				margin:0 37px;
				//margin-left: 37px;
				background-color: #FFF;
				display: inline-block;
				position: relative;
				color:#000;
				font-size:0;
				position: relative;
				width:100%;
				border-bottom:0 !important;

				&:before{
					    content: 'Acompanhe no Instagram @belezaqui';
						text-transform: uppercase;
						font-size: 15px;
						width:560px;
						display: inline-block;
						height: 30px;
						position: absolute;
						left:50%;
						margin-left:-280px;
						z-index:10;
						background:#fff;
				}
				&:after{
					width:100%;
					height:1px;
					content:'';
					display:inline-block;
					background:#d4d4d4;
					position: absolute;
					bottom:5px;
					left:0;
				}
				b{
					@extend %text-heading-font;
					text-shadow:none;
				}
			
			@extend %text-heading-font;
			text-shadow:none;
			//&:before{
			//	content:'';
				//border:0;
			//}
		}
	}
	
}




%instagram{	
	#main{
		.section.instagram-slider{
			//width:$page-w;
			//margin:0 auto;

			
			// .list-instagram-photos{
			// 	width:1209px;

			// 	.owl-wrapper-outer{
			// 		background: none;
			// 	}

			// 	.owl-item{
			// 		//width:200px !important;
			// 		background: none;					
			// 	}				
			// 	li{
			// 		margin:5px;
			// 		a{						
			// 			width:200px;
			// 			height:200px;

			// 			img{							
			// 				width:100%;
			// 				height:200px;
			// 				border:none;							
			// 			}
			// 		}
			// 	}

			// 	.owl-controls{
			// 		top:100px;
			// 		.owl-buttons{
			// 			div{
			// 				@include bgimg(arrows, png);
			// 				@include opacity(1);
			// 				&.owl-prev{
			// 					background-position: 0px 0px;
								
			// 					left: -19px;
			// 					&.disabled{
			// 						background-position: -22px 0px;	
			// 					}
			// 					&:hover{
			// 						background-position: 0px 0px;
			// 					}
			// 				}
			// 				&.owl-next{
			// 					background-position: -68px 0px;
			// 					right: -25px;
			// 					&.disabled{
			// 						background-position: -46px 0px;	
			// 					}
			// 					&:hover{
			// 						background-position: -68px 0px;
			// 					}
			// 				}
			// 				background-repeat: no-repeat;
			// 				width: 22px;
			// 				height: 30px;
			// 			}					
			// 		}
			// 	}
			// }
		}
	}
}

%fancy-instagram{
	.fancybox-instagram{
		left:155px !important;
		right:auto !important;
		transition: all 0.3s ease;				
	}
}

// INSTAGRAM - COMPONENTS
// ====================================================================
body{
	//@extend %fancy-instagram;
	//@extend %instagram;  
	@extend %instagram-title; 
	.list-instagram-photos{
		margin-top:20px;
		overflow: hidden;
		
		li{
			display: inline-block;
			margin: 5px;
			width: 19%;
			float: left;
			margin: 0;
			padding:0 15px;
		    @include box-sizing();
			a{
				width:100%;
				img{
					width:100%;
					border:0;
				}
			}
			&:last-child{
				display:none;
			}
        }
        .owl-item{
            float:left;
            img{
                border:0;
            }
        }
    }
    
    .instagram-slider .list-instagram-photos.owl-carousel>.owl-controls{
        margin-top:-10px;
    }
}

