// PAGE - AFILIADOS - COMPONENTS
// ====================================================================
%afiliado-boxes {
    &.affiliates  .atention + .form{
        float:left;
        width:100%;
        max-width:600px;
    }

    &.affiliates .box {
        background: #fff;
        //margin-top: 10px;
        .field{
            float:left;
            width:100%;
            height: auto;
            label{
                span{
                   // text-align:left;
                }
                input{
                    margin-left:0;
                    &.cpf[type="text"], 
                    &.cep[type="text"], 
                    &.cpf[type="tel"], 
                    &.rg[type="text"], 
                    &.rg[type="tel"] {
                        width:100%;
                        max-width:200px;
                        text-align:center;
                    }
                }
            }
        }
    }
    &.affiliates .box.even {
        background: #f6f6f6;
    }
    &.affiliates.register #main .container {
        width: 980px;
        margin: 0px auto;
    }
}

%afiliados-titles {
    &.affiliates .form .title {
        @extend %text-heading-font;
        @include remove-textshadow();
    }
}

%afiliados-buttons {
    &.affiliates .btn.ir.save {
        @extend %bt-afiliado__cadastro--salvar;
    }
    .reports .btn.ir.search {
        @extend %bt-afiliado__reports--pesquisar;
        height: 27px;
        width: auto;
    }
}

%afiliados-form{
  .atention + .form{
      #form_container{
          padding-bottom:0;
          .field.radio{
              margin:0;
              &.person{
                  padding-top:3px;
                  label{
                      float:left;
                      display:inline-block;
                      min-width:115px;
                      input{
                        width:20px;
                      }
                  }
              }
          }
      }

      .box{
          padding:0 18px;
          .field{
            height: 30px;
            label input{
                margin-left:1%;
                width:45%;
                &.cnpj, &.tel{
                    width:115px;
                }
            }
            input[type="text"], input[type="tel"], input[type="password"],  select {
                height:28px;
                line-height:28px;
            }
            select{
                width:120px;
            }
            &.newsletter{
                margin-left:140px;
                label{
                    input{
                        width:20px;
                    }
                }
            }
          }
      }
      .actions{
          margin-left:156px;
          .btn.ir{
            display:inline-block;
            float:left !important;
          }
      }

      #DadosPessoaFisica{

      }

      #DadosPessoaJuridica{}
  }
}
%afiliados-menu-lateral{
    .aside{
        .nav{
            .block> ul{
                padding-left:15px;
                padding-top:10px;
            }
        }
    }
}
// PAGE - CALLS - CALLS
// ====================================================================
body {
    @extend %afiliado-boxes;
    @extend %afiliados-titles;
    @extend %afiliados-buttons;
}

body.pagina-afiliados{
    @extend    %afiliados-form;
    @extend   %afiliados-menu-lateral;
}