// PAGE - CATALOG - COMPONENTS
// ====================================================================
%catalog-containers {
    #main {
        .container {
            padding: 0px;
            width: $page-w;
        }
        .content {
            width: $page-w - $aside-w - 10;
            //margin: 0px auto;
            float: right;
            .chaordic.offers{
                padding: 0px;
            }
            #divSort{
                display: none;
            }
            .main-content{
                float: left;
                width: 100%;
                & > .aside{
                    padding: 0px;
                }
            }
        }
        .list-products {
            width: 100%;
            li{
                position:relative;
            }
        }
        .section {
            border: none !important;
            padding-top: 0px;
            padding-bottom: 10px;
            .list-products {
                >li {
                    width: 33%;
                }
            }
        }
    }
}

%vitrine-containers {
    #main {
        .container {
            padding: 0px;
            width: $page-w;
           // margin-top:16px;
        }
        .content {
            width: 1005px;
            float: right;
            .chaordic{
                margin: 0px;
                padding: 0px;
            }
        }
        .list-products {
            width: 100%;
            
            li{
                position:relative;
                min-height: 550px;
            }
        }
        .section {
            padding-top:0px !important;
            border: none;
            .list-products {
                >li {
                    width: 33%;
                }
            }
        }
    }
}

%catalog-filters__containers {
    .content .filters {
        @include box-sizing();
        border: 0px;
        background: #FFF;
        padding: 3px 0 0 0;
        margin-top: 0px;
        height: 44px;
        width: 36%;
        //border-top: 1px solid #d6d6d6;
        //border-bottom: 1px solid #d6d6d6;
        margin: 0 0 10px 0;
    }
    .content .filter-details {
        display:none;
        @include box-sizing();
        border: 0px;
        padding: 0;
        height: 54px;
        border-top:0;
        span{
            @extend %text-orderby-title;
        }
    }
}

%catalog-filters__ordenar {
    .content .filters {
        //position: absolute;
       // top: 156px;
        //left: 450px;
        >span {
           @extend %text-orderby-title;
           position: relative;
           top: 7px;
           margin: 0px 4px;
        }
        >fieldset {
            width: auto;
            >ul>li {
                background: none;
                &:before{
                    content: '';
                }
            }
            select{
                @include fonte($font-one, 400, 12px, #000);
               // @include select-arrow(ordernar-por-arrow, 90%);
               // @include remove-shadow();
                @include border-radius(4px);
                width: 175px;
                border: 1px solid #B3B3B3;
                height: 25px;
                padding: 0px 5px;
                margin-top: 7px;
                margin-left: 7px;
            }
        }
        a {
            text-decoration: none;
            @extend %text-orderby-item;
            &:hover,
            &.selected {
                @extend %text-orderby-item-selected;
            }
        }
    }
}

%catalog-filters__comparar {
    #hypCompare.btn.compare {
        @extend %bt-catalog__compare;
        margin-top: 0px;
        @if $hprod-hidden-compare==true {
            display: none;
        }
        @else {}
    }
}

%catalogo-filters__vsmode {
    .content .filter-details .vs-mode {     
        margin-right: 0;   
        padding: 15px 0px 15px 62px;
        width: 35%;
        >span {
            @extend %text-orderby-title;
            line-height: 15px;
        }
        > ul{
            width:130px;
        }
        >ul>li {
            margin-left: 0;
            &:first-child{
                margin-left: 4px;
                float:right;
            }
        }
        >ul>li>a {
           @extend %text-orderby-item;
            line-height: 14px;
            padding-left: 0px;
            line-height: 15px;
            &.selected {
                @extend %text-orderby-item-selected;
            }            
            &.table {
               // @include bgimg(bt_vs_mode_table, png);
                background-repeat: no-repeat;
                height: 28px;
                width: 28px;
                padding-left: 20px;
                position: relative;
                background: transparent;
                font-size:0;
                width:45px;
               
                &:before{
                    content:"\f009";
                    display:inline-block;
                    font-family: FontAwesome;
                    position: absolute;
                    top:0;
                    left:0;
                    font-size:14px;
                }
                &:after{
                    content:'Tabela';
                    display:inline-block;
                    font-size:14px;
                }
                &.selected {
                    color: $color-blue-light;
                    //@include bgimg(bt_vs_mode_table_selected, png);
                    background-repeat: no-repeat;
                    text-decoration: none;
                }
            }
            &.list {
                //@include bgimg(bt_vs_mode_list, png);
                background: transparent;
                height: 28px;
                width: 28px;
                padding-left: 20px;
                position: relative;
                &:before{
                    content:"\f03a";
                    display:inline-block;
                    font-family: FontAwesome;
                    position: absolute;
                    top:0;
                    left:0;
                }
                &.selected {
                    color: $color-blue-light;
                    @include bgimg(bt_vs_mode_list_selected, png);
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

%catalog-filters__itenspage {
    .content .filter-details .itens-page {
        @include border-radius(0px);
        width: auto;
        height: auto;
        position: inherit;
        float: left;
        left: auto;
        top: auto;
        height: 30px;
        padding: 10px 5px;
        select{
            border: 1px solid #B3B3B3;
            width: 55px;
            height: 25px;
            float: right;
            margin-top: 0px;
            @include border-radius(4px);
            margin-left: 12px;
        }
        >span {
            @extend %text-orderby-title;
            position: relative;
            top: 5px;
            text-transform: none;
        }
    }
}

%catalog-filters__mostrando {
    .filter-details>p {
        display: none;
        @extend %text-orderby-item;
        >strong {
           @extend %text-orderby-item;
        }
    }
}

%catalog-see-more {
    .list-products .see-more {
        display: none;
    }
}

%catalog-see-category {
    .see-category {
        @extend %text-see-category;
        background-color:none;
        border-top:none;
        margin-bottom: 40px;
        color: $color-blue-light !important;
        text-decoration: none !important;
        font-weight: bold !important;
        strong {
            @extend %text-see-category;
        }
        // &[href="/look.aspx"] {
        //     text-transform: none;
        //     color: $color-blue;
        //     text-decoration: none;
        //     font-weight: bold;
        //     em {
        //         @extend %text-see-category-link;
        //     }
        // }
        //&:after{
          //  @include set-icon($icon-chevron-right, 19px, 300, $color-orange);
           // position: relative;
           // top: 1px;
           // margin-left: 8px;
       // }
    }
}

%catalog-hproduct__compare {
    .list-products .compare {
        @if $hprod-hidden-compare==true {
            display: none;
        } @else {
            display: inline-block;
        }
        width: 100%;
        text-align: center;
        padding-top: 0px;
        span[title="Comparar"] {
            text-align: center;
            width: 100%;
            display: block;
        }
        label {
            display: inline-block;
            float: none;
        }
    }
}

%catalog-seo-desc {
    #main .categ-desc {
        font-family: $font-one;
        color: $color-gray;
        font-size:14px;
        line-height: 24px;
        text-align: left;

        float: left;
        h1 {
            //@extend %text-seo-desc;
            margin-bottom: 5px;
        }
        @extend %text-seo-desc;
    }
}

%vitrine-seo-desc {
    #main .categ-desc {
        font-family: $font-one;
        color: $color-gray;
        font-size:14px;
        line-height: 24px;
        text-align:center;
        //padding: 30px 10px;
        float: left;
        h1 {
            @extend %text-seo-desc;
            margin-bottom: 5px;
        }
        @extend %text-seo-desc;
    }
}


%catalog-showone {
    #main #listProduct.show-one {
        >li {
            width: 100%;
            border: 0px;
        }
        .figure {
            width: $ft-vitrine-w;
            height: $ft-vitrine-h;
        }
        .hproduct {
            @include clearfix();
            @include box-sizing();
            width: 97%;
            margin: 10px;
            .details {
                //position: relative;
                padding: 25px 0;
                .btn.buy{
                    background-color: $color-blue-light;
                }
                .txtQuantity {
                    width: auto;
                    padding: 20px 0;
                    .lbl-quantity, .ipt-quantity{
                        display: inline-block;
                    }
                }
            }
        }
        .name {
            text-align: left;
            @extend %text-hprod-name;
            //@include fonte($font-one, 400, 13px, $color-black);
        }
        .offers {
            display: block;
            text-align: left;
            margin-top: 15px;
            >span {
                display: block;
                float: none;
                text-align: left;
                max-width: none;
                width: 100%;
            }
            .regular {
                //margin-right: 10px;
                display: inline;
                margin-left: 0;
                padding-left: 0;
            }
            .sale{
                 display: inline;
                 padding: 0px;
                 strong{
                    padding: 0px;
                }
                &.percent-a-vista{
                        display: block;
                        padding-left: 0px;
                }                
            }
            .percent-a-vista{
                display: none !important;
            }
        }
        .parcel {
            text-align: left;
            padding-top: 0px;
            margin-top: 10px;
        }
        .description {
            @extend %text-show-one;
            span {
                @extend %text-show-one-link;
                text-decoration: none;
            }
        }
        .compare {
            position: absolute;
            right: 50px;
            top: 60px;
            width: auto;
            height: auto;
        }
        .btn.buy {
            position: absolute;
            right: 10px;
            bottom: 60px;
        }
        .reviewaggregate {
            display:block;
            width: auto;
            text-align: left;
            >a {
                margin-right: 0px;
            }
            .count {
                top: 0px;
                left: 6px;
            }        
        }
        .stamp {
            max-width: 500px;
            text-align: left;
            >a {
                display: block;
                margin-right: 10px;
                margin-top: 5px;
                float: left;
            }
        }
    }
}

%catalog-trumps {
    #breadcrumbs {
        @include box-sizing();
        display: block;
        clear: both;
    }
    #main .reviewaggregate {
        width: 150px;
        display: inline-block;
        margin: 0px auto;
        .count {
            top: -1px;
        }
    }
}

%catalog-seo{
    .categ-desc-look{
        font-family: $font-one;
        color: $color-gray;
        font-size:14px;
        line-height: 24px;
        text-align:center;
    }
}
%vitrine-banner{
    .banners.full.b-bottom{
        clear:both !important;
    }
    .banners.b-main {
        .posicao2,
        .posicao3 {
            width:625px !important;
       }
    }
}
%look_ordenar{
    .content {
        #ordena_produtos{
            width:100%;
            margin: 0 10px;
            height: 38px;
            fieldset{
                width: 920px;
            }
            >span {
                @extend %text-orderby-title;
                //width:100%;
            }
            .itens-page{
                right: 0;
                top: inherit;
                left:inherit;
                display:none;
                span{
                    @extend %text-orderby-title;
                 
                }
                select{
                    height: 23px;
                    color:$color-gray;
                    font-family: $font-one;
                    border-radius:4px;
                }
            }
        }
        >fieldset {
            width: auto;
            >ul>li {
                background: none;
                &:before{
                    content: '';
                }
            }
        }
        a {
            text-decoration: none;
            @extend %text-orderby-item;
            &:hover,
            &.selected {
                @extend %text-orderby-item-selected;
            }
        }
    }
    .content .filter-details .vs-mode {     
        margin-right: 0;   
        padding: 15px 0px 15px 10px;
        width: 35%;
        >span {
            @extend %text-orderby-title;
            line-height: 15px;
        }
        >ul>li {
            margin-left: 28px;
            &:first-child{
                margin-left: 4px;
            }
        }
        >ul>li>a {
           @extend %text-orderby-item;
            line-height: 14px;
            padding-left: 0px;
            line-height: 15px;
            &.selected {
                @extend %text-orderby-item-selected;
            }            
            &.table {
                @include bgimg(bt_vs_mode_table, png);
                background-repeat: no-repeat;
                height: 28px;
                width: 28px;
                padding-left: 28px;
                &.selected {
                    color: $color-blue-light;
                    @include bgimg(bt_vs_mode_table_selected, png);
                    background-repeat: no-repeat;
                    text-decoration: none;
                }
            }
            &.list {
                @include bgimg(bt_vs_mode_list, png);
                background-repeat: no-repeat;
                height: 28px;
                width: 28px;
                padding-left: 33px;
                &.selected {
                    color: $color-blue-light;
                    @include bgimg(bt_vs_mode_list_selected, png);
                    background-repeat: no-repeat;
                }
            }
        }
    }    
}


%vitrine-promo{
    .vitrine-promo{
        .vitrine-1, .vitrine-2, .vitrine-3{
            float:left;
            width:100%;
        }
        .list-products li{
            min-height:100px !important;
        }
    }
}


// PAGE - CATALOG - CALLS
// ====================================================================
body.catalog {
    background: #FFF;
    @extend %catalog-containers;
    @extend %catalog-filters__containers;
    @extend %catalog-filters__ordenar;
    @extend %catalog-filters__comparar;
    @extend %catalogo-filters__vsmode;
    @extend %catalog-filters__itenspage;
    @extend %catalog-filters__mostrando;
    @extend %catalog-showone;
    @extend %catalog-see-more;
    @extend %catalog-see-category;
    @extend %catalog-hproduct__compare;
    @extend %helper-hproduct;
    @extend %helper-hproduct__photo;
    @extend %helper-hproduct_qtd;
    @extend %helper-hproduct__btQuicklook;
    @extend %helper-hproduct__tools;
    @extend %helper-hproduct__name;
    @extend %helper-hproduct__priceFrom;
    @extend %helper-hproduct__priceSale;
    @extend %helper-hproduct__parcel;
    @extend %helper-hproduct__stamp;
    @extend %helper-hproduct__reviewaggregate;
    @extend %helper-hproduct__buy;
    @extend %catalog-seo-desc;
    @extend %catalog-trumps;
    @extend %catalog-filters__itenspage;
    @extend %catalog-seo;
}
body.vitrine, body.vitrine-look{    
    background: #FFF;
    @extend %vitrine-containers;
    @extend %catalog-seo;
    @extend %catalog-filters__containers;
    @extend %catalog-filters__ordenar;
    @extend %catalog-filters__comparar;
    @extend %catalogo-filters__vsmode;
    @extend %catalog-filters__itenspage;
    @extend %catalog-filters__mostrando;
    @extend %catalog-showone;
    @extend %catalog-see-more;
    @extend %catalog-see-category;
    @extend %catalog-hproduct__compare;
    @extend %helper-hproduct;
    @extend %helper-hproduct__photo;
    @extend %helper-hproduct__btQuicklook;
    @extend %helper-hproduct__tools;
    @extend %helper-hproduct__name;
    @extend %helper-hproduct__priceFrom;
    @extend %helper-hproduct__priceSale;
    @extend %helper-hproduct__parcel;
    @extend %helper-hproduct__stamp;
    @extend %helper-hproduct__reviewaggregate;
    @extend %helper-hproduct__buy;
    @extend %vitrine-seo-desc;
    @extend %catalog-trumps;
    @extend %catalog-filters__itenspage;
    @extend %vitrine-banner;
    @extend %look_ordenar;
    @extend %vitrine-promo;
   /*&.vitrine-look{
        #main{
            .content{
                width: 100%;
                .see-category{
                    @extend %text-see-category;
                    em{
                        @extend %text-see-category;
                    }
                }
            }
        }
    }*/
    
}


// Pagination look
%pagination-look {
    .pagination {   
        text-align: center;
        width: 100%;
        float: left;
        margin: 30px 0;
        
        >ul {
            display: inline-block;
            float: none;
            height: 40px;
            >li {
                line-height: 9px;

                #lnkAnterior{
                    font-size:0;
                    &:before{
                        content: "";
                        @include fonte($font-one, 400, 22px, #5a5a5a);
                        margin-right: 10px;
                        line-height: 36px;
                        @include bgimg(pagination, png);
                        width:35px;
                        height:35px;
                        display:inline-block;
                        text-indent:-999px;
                    }
                    &:hover{
                        border:0;
                    }
                }
                #lnkProxima{
                    font-size:0;
                    &:after{
                        text-indent:-999px;
                        content: "";
                        @include fonte($font-one, 400, 22px, $font-color-1);
                        margin-left: 10px;
                        line-height: 36px;
                        @include bgimg(pagination, png);
                        width:35px;
                        height:35px;
                        display:inline-block;
                        background-position: -35px -35px;
                    }
                    &:hover{
                        border:0;
                    }
                }

                a.item {
                    @include fonte($font-one, 400, 16px, #5a5a5a);
                    background: transparent;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    display: inline-block;
                    text-align: center;
                    border:1px solid #fff;
                    @include border-radius(50%);
                    @media (max-width: $mobile-w) {
                        width: 26px;
                        height:26px;
                        line-height: 26px;
                    }
                }
                a.selected,
                a:hover {
                    @include fonte($font-one, 700, 16px, $font-color-2);
                    background-color: #fff;
                    border:1px solid $font-color-2;
                    text-decoration: none;
                }
                @media (max-width: $mobile-w) {
                    display:inline-block;
                    clear:both;
                    vertical-align: top;
                }
            }


            @media (max-width: $mobile-w) {
                width:100%;
            }
        }
        
        .prev a{

            @include fonte($font-two, 600,0, #5a5a5a);
            margin-right: 22px;
        }
       
        
        
            @media (max-width: $mobile-w) {
                display:inline-block;
                clear:both;
                vertical-align: top;
            }
        }
        @media (min-width: $breakpoint) {
            .filter-details+.pagination {
                position: absolute;
                top: 40px;
                right: 20px;
                height: auto;
            }
        }
        @media (max-width: $mobile-w) {
            width: 100%;
            margin: 10px 0;
            text-align: center;
            
            > ul{
                height:auto;
                >li{
                    line-height: 17px;
                    
                    a{
                        border:none;
                    }
                }
                .next,
                .prev{
                    top: -3px;
                    a{
                        @media (max-width: $mobile-w) {
                            width:8px;
                            &:after{
                                position: absolute;
                                left:0;
                            }
                        }
                    }

                    @media (max-width: $mobile-w) {
                        vertical-align: top;
                    }

                }
            
        }
    }
    .main-content+.pagination {
        margin-bottom: 30px;
    }
}


body.look:not(.lookDetalhe){
    background: #FFF;
    @extend %catalog-containers;
    @extend %catalog-filters__containers;
    @extend %look_ordenar;
    // @extend %catalog-filters__ordenar;
    // @extend %catalog-filters__comparar;
    // @extend %catalogo-filters__vsmode;
    @extend %catalog-filters__itenspage;
    @extend %catalog-filters__mostrando;
    @extend %catalog-showone;
    @extend %catalog-see-more;
    @extend %catalog-see-category;
    @extend %catalog-hproduct__compare;
    @extend %helper-hproduct;
    @extend %helper-hproduct__photo;
    @extend %helper-hproduct_qtd;
    @extend %helper-hproduct__btQuicklook;
    @extend %helper-hproduct__tools;
    @extend %helper-hproduct__name;
    @extend %helper-hproduct__priceFrom;
    @extend %helper-hproduct__priceSale;
    @extend %helper-hproduct__parcel;
    @extend %helper-hproduct__stamp;
    @extend %helper-hproduct__reviewaggregate;
    @extend %helper-hproduct__buy;
    @extend %catalog-seo-desc;
    @extend %catalog-trumps;
    @extend %catalog-filters__itenspage;
    @extend %catalog-seo;
    @extend %pagination-look;
}
