// PAGE - CONTATO - COMPONENTS
// ====================================================================
%contato-boxes{
	&.institucional .box{
		background: #fff;
		border-right: 1px solid #efecec;
		border-left:none;
		&.form{
		border: none;
		}
	}
	&.institucional .box.even{
		background: #f6f6f6;
	}
}
%contatos-buttons{
	&.institucional .actions{
		width: 53%;
		margin: 0px auto;
	}
	&.institucional .text .actions .btn{
		@extend %bt-contato__enviar;
		width: auto;
		margin-right: 0px;
	}
	
	.return .buy{
		@extend %bt-general__return;
		margin: 0px auto;
	}
}
%institucional-ajustes{
	&.institucional {
		.text{
			span,p{
				@include fonte($font-one, 400, 12px, #000);
				&.atention{
					color: #9d0010;
				}
			}
			h2{
				span{
					@include fonte($font-one, 600, 14px, #000);
				}
			}
		}
		.nav{
			width: 250px;
		}
		.form{
				select{
					@include fonte($font-one, 400, 12px, #000);
					@include select-arrow(ordernar-por-arrow, 98%);
					@include remove-shadow();
					@include border-radius(0px);
					width: 52%;
					border: 1px solid #ccc;
					height: 31px;
					padding: 0px 5px;
				}
				input{
					@include border-radius(0px);
					padding: 7px;
					&:disabled{
						background: #f6f6f6;
					}
				}
				span{
					line-height: 25px;
					@include fonte($font-one, 400, 12px, #000);
				}
			}
	}

}

// PAGE - CONTATO - CALLS
// ====================================================================
body.internal{	
	@extend %contato-boxes;
	@extend %contatos-buttons;
	@extend %institucional-ajustes;
}