// PAGE - LOGIN e PARCEIRO - COMPONENTS
// ====================================================================
%login-structure{
	#main .main-content .form.login{
		width: 980px;
		margin: 0px auto;
	}
}
%login-titles{
	.form .title{
		@extend %text-check-title-h1;
	}
}
%login-field{
	.form .field{
		span{
			@extend %text-check-text-default;
		}
		input{
			@extend %text-check-text-default;
			@include border-radius(4px);
			height: 34px;
		}
		.email, .login .email, #txtEmail{
			width: 370px!important;
		}
		#txtPedCodigo{
			width: 100%;
		}
	}
}
%login-link-remember{
	.remember,
	.change,
	.field + p {
		@extend %text-login-link-default;
	}
}
%login-info{
	.info-login{
		@extend %text-check-text-default;
	}
}
%login-bt__enter{
	.login .enter{
		@extend %bt-login__entrar;
	}
}
%login-bt__continue{
	.login .continue{
		@extend %bt-login__continue;
		margin-right: 0px !important;
	}
}

%partner-box{
	.box{
		background: #FFF;
	}
}
%partner-button--enter{
	#enter{
		@extend %bt-login__entrar;
		margin-right: 5px;
	}
}

// PAGE - LOGIN e PARCEIRO - CALLS
// ====================================================================
body.loginpage{
	@extend %login-structure;
	@extend %login-titles;
	@extend %login-field;
	@extend %login-link-remember;
	@extend %login-info;
	@extend %login-bt__enter;
	@extend %login-bt__continue;
}
body.partner{
	@extend %partner-box;
	@extend %login-titles;
	@extend %partner-button--enter;
}